# Hello World

In [1]:
name = input("What is you name?\n:")
print("hello", name)

What is you name?
:Denis
hello Denis

In [3]:
name = input("What is you name?\n:")
print("hello"+' '+name)

What is you name?
:Denis
hello Denis

## Strings
### a crash course

In [4]:
type(name)

str

In [7]:
name

'Denis'

In [11]:
lastname = 'Vrdoljak'

In [12]:
name + lastname

'DenisVrdoljak'

In [13]:
name + ' ' + lastname

'Denis Vrdoljak'

In [14]:
fullname = name + ' ' + lastname
fullname

'Denis Vrdoljak'

In [15]:
type(fullname)

str

In [17]:
name * 3

'DenisDenisDenis'

In [18]:
print('*-* '*20)

*-* *-* *-* *-* *-* *-* *-* *-* *-* *-* *-* *-* *-* *-* *-* *-* *-* *-* *-* *-*

In [19]:
'123 abc ' * 10

'123 abc 123 abc 123 abc 123 abc 123 abc 123 abc 123 abc 123 abc 123 abc 123 abc '

In [20]:
len(fullname)

14

## Indexing Strings

In [21]:
fullname[1]

'e'

In [22]:
fullname[0]

'D'

In [25]:
fullname[len(fullname) - 1]

'k'

In [26]:
fullname[-1]

'k'

In [27]:
myname = input("What is your name\n--> ")

What is your name
--> denis

In [29]:
first_letter = myname[0]
first_letterfirst_letter

'd'

In [30]:
first_letter.upper()

'D'

In [34]:
first_letter.upper() + fullname[1] + fullname[2] + fullname[3]

'Deni'

In [39]:
fullname[1:4] # end point is EXclusive

'eni'

In [40]:
fullname[1:]

'enis Vrdoljak'

In [42]:
fullname[:5]

'Denis'

In [44]:
'd'.upper()

'D'

In [47]:
myname = input("What is your name?\n--> ")
print("* - "*30)
print("hello " + myname[0].upper() + myname[1:])

What is your name?
--> denis
* - * - * - * - * - * - * - * - * - * - * - * - * - * - * - * - * - * - * - * - * - * - * - * - * - * - * - * - * - * -
hello Denis

## Newline Character 
### \n

In [48]:
mystring = """
first line of text

last line
"""

print(mystring)

first line of text

last line

In [49]:
mystring

'\nfirst line of text\n\nlast line\n'

In [50]:
mystring = """first line of text\n\nlast line"""

print(mystring)

first line of text

last line

In [51]:
mystring

'first line of text\n\nlast line'

## Numeric Types
### Intro

### Basic Arithmetic

In [52]:
3 + 4

7

In [53]:
3.0 - 3.14

-0.14000000000000012

In [54]:
3/4

0.75

In [55]:
7*8

56

In [56]:
3**2

9

In [57]:
3**.5

1.7320508075688772

In [58]:
x = 5
y = 3

In [59]:
x+y

8

In [60]:
x**y

125

In [61]:
x/y

1.6666666666666667

In [62]:
x + x /y

6.666666666666667

In [63]:
(x + x) /y

3.3333333333333335

In [64]:
x = input("Enter first number: ")
y = input("Enter second number: ")

Enter first number: 5
Enter second number: 3

In [65]:
x*y

TypeError: can't multiply sequence by non-int of type 'str'

In [66]:
x + y

'53'

In [67]:
x_as_int = int(x)
y_as_float = float(y)

In [70]:
x_as_int

5

In [71]:
y_as_float

3.0

In [72]:
x_as_int * y_as_float

15.0

In [73]:
x_as_int / y_as_float

1.6666666666666667