In [1]:
(1/3 + 1000) - 1000

0.33333333333337123

In [2]:
(1000 - 1000) + 1/3

0.3333333333333333

In [3]:
True + 1

2

In [4]:
False * 5

0

In [6]:
bool(1)

True

In [7]:
bool(0)

False

In [8]:
bool()

False

In [9]:
None

In [10]:
type(None)

NoneType

In [11]:
str(None)

'None'

In [12]:
mystring = """
This is a
multi-line string
    and a tab"""

In [13]:
print(mystring)

This is a
multi-line string
    and a tab

In [14]:
mystring

'\nThis is a\nmulti-line string\n    and a tab'

In [15]:
mystring = """
This is a
multi-line string
\tand a tab"""
mystring

'\nThis is a\nmulti-line string\n\tand a tab'

In [16]:
print(mystring)

This is a
multi-line string
	and a tab

In [17]:
mystring = """



This is a
multi-line string
\tand a tab


\t\t\t
"""
mystring

'\n\n\n\nThis is a\nmulti-line string\n\tand a tab\n\n\n\t\t\t\n'

In [18]:
mystring.strip()

'This is a\nmulti-line string\n\tand a tab'

In [19]:
"Denis Vrdoljak".split()

['Denis', 'Vrdoljak']

In [20]:
[1,2,3]

[1, 2, 3]

In [21]:
list((1,2,3))

[1, 2, 3]

In [22]:
x = []
x

[]

In [23]:
x = list()
x

[]

In [24]:
[1,2,3] + [4,5,6]

[1, 2, 3, 4, 5, 6]

In [25]:
[1,2,3] * 3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [42]:
mylist = [1,2,3]
mylist

[1, 2, 3]

In [43]:
mylist.append(4)

In [35]:
mylist

[1, 2, 3, 4]

In [36]:
type(mylist.append(5))

NoneType

In [37]:
mylist

[1, 2, 3, 4, 5]

In [38]:
mylist.pop()

5

In [39]:
mylist

[1, 2, 3, 4]

In [44]:
mylist.extend([5,6,7])

In [45]:
mylist

[1, 2, 3, 4, 5, 6, 7]

In [59]:
mylist = ['1','2','3']

In [60]:
'-'.join(mylist)

'1-2-3'

In [61]:
mylist[0]

'1'

In [62]:
mylist[:2]

['1', '2']

In [51]:
mylist = [1,2,3]

In [52]:
mylist.append(4)

In [53]:
mylist

[1, 2, 3, 4]

In [54]:
mylist.extend([5,6])

In [55]:
mylist

[1, 2, 3, 4, 5, 6]

In [56]:
mylist.pop()

6

In [63]:
mylist

['1', '2', '3']

In [64]:
mylist.pop(0)
mylist

['2', '3']

In [68]:
mylist = [1,2,3]
mylist

[1, 2, 3]

In [70]:
mylist[1] = "this is a string"

In [71]:
mylist

[1, 'this is a string', 3]

In [85]:
listofnames = []
listofnames.append("denis")
listofnames

['denis']

In [86]:
listofnames.append("amanda")
listofnames

['denis', 'amanda']

In [87]:
listofnames.append("juliette")
listofnames

['denis', 'amanda', 'juliette']

In [91]:
myname = listofnames[0]
myname

'denis'