# Pandas Map

In [2]:
import pandas as pd

In [3]:
# The below cell just writes a simple datafile so we can show the groupby
# The %%writefile is a magic command for jupyter notebooks - to write that cell to the filename

In [4]:
%%writefile file2_2.txt

ID,State
2,"NY"
3,"CA"
6,"CO"
7,"OR"

Overwriting file2_2.txt

In [26]:
df = pd.read_csv("file2_2.txt")

## pandas.Series.map()

In [27]:
# adding "Postal Code:" to the State column (Series)
df['State'] = df['State'].map(lambda x: "Postal Code: "+x)
df

   ID            State
0   2  Postal Code: NY
1   3  Postal Code: CA
2   6  Postal Code: CO
3   7  Postal Code: OR

In [28]:
# and removing the "Postal Code: " string
df['State'] = df['State'].map(lambda x: x.split()[2])
df

   ID State
0   2    NY
1   3    CA
2   6    CO
3   7    OR

## pandas.Series.apply()

In [32]:
df['State'].apply(lambda x: "Postal Code: "+x)

0    Postal Code: NY
1    Postal Code: CA
2    Postal Code: CO
3    Postal Code: OR
Name: State, dtype: object

In [18]:
# without saving output
df['State'].apply(lambda x: "Postal Code: "+x)

0    Postal Code: NY
1    Postal Code: CA
2    Postal Code: CO
3    Postal Code: OR
Name: State, dtype: object

## pandas.DataFrame.apply()
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.apply.html
Note: apply() can be used to reduce or aggregate (or calculate values that require aggregation, like DS)

In [35]:
df[['State']].apply(lambda x: "Postal Code: "+x,axis=1)

             State
0  Postal Code: NY
1  Postal Code: CA
2  Postal Code: CO
3  Postal Code: OR