# Pandas: Class Exercise

In [2]:
# Standard Python line to import pandas library
# It's imported as 'pd' for less typing later!

import pandas as pd

pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

## Class Exercise
- load this dataset into a pandas dataframe.
- Pick 5 columns that look interesting to you, and create a new dataframe with just those 5 rows. ** make sure to - use .copy() to create a copy (not a reference) of the original
- Calculate the ratio of Median values for 2 columns.
- Create a new column that is the value of your first column, divided by the max value from your second column.
Create a 3rd dataframe that is the subset of your full dataframe, where the value of your 3rd column > median(3rd column)
- Save your new dataframe to a csv (WITHOUT INDEX NUMBERS).

### Load this dataset into a pandas dataframe.

In [3]:
# Reading in the file
# Pandas has many built in readers for different file types

df = pd.read_csv("Demographic_Statistics_By_Zip_Code.csv")
print("Done")

Done

### Pick 5 columns that look interesting to you, and create a new dataframe with just those 5 rows. ** make sure to - use .copy() to create a copy (not a reference) of the original

Let's take a look at what columns we have to work with here

In [4]:
df.columns

Index(['JURISDICTION NAME', 'COUNT PARTICIPANTS', 'COUNT FEMALE', 'PERCENT FEMALE', 'COUNT MALE', 'PERCENT MALE', 'COUNT GENDER UNKNOWN', 'PERCENT GENDER UNKNOWN', 'COUNT GENDER TOTAL', 'PERCENT GENDER TOTAL', 'COUNT PACIFIC ISLANDER', 'PERCENT PACIFIC ISLANDER', 'COUNT HISPANIC LATINO', 'PERCENT HISPANIC LATINO', 'COUNT AMERICAN INDIAN', 'PERCENT AMERICAN INDIAN', 'COUNT ASIAN NON HISPANIC', 'PERCENT ASIAN NON HISPANIC', 'COUNT WHITE NON HISPANIC', 'PERCENT WHITE NON HISPANIC', 'COUNT BLACK NON HISPANIC', 'PERCENT BLACK NON HISPANIC', 'COUNT OTHER ETHNICITY', 'PERCENT OTHER ETHNICITY', 'COUNT ETHNICITY UNKNOWN', 'PERCENT ETHNICITY UNKNOWN', 'COUNT ETHNICITY TOTAL', 'PERCENT ETHNICITY TOTAL', 'COUNT PERMANENT RESIDENT ALIEN', 'PERCENT PERMANENT RESIDENT ALIEN', 'COUNT US CITIZEN', 'PERCENT US CITIZEN', 'COUNT OTHER CITIZEN STATUS', 'PERCENT OTHER CITIZEN STATUS', 'COUNT CITIZEN STATUS UNKNOWN', 'PERCENT CITIZEN STATUS UNKNOWN', 'COUNT CITIZEN STATUS TOTAL',
       'PERCENT CITIZEN STATUS TOTAL', 'COUNT RECEIVES PUBLIC ASSISTANCE', 'PERCENT RECEIVES PUBLIC ASSISTANCE', 'COUNT NRECEIVES PUBLIC ASSISTANCE', 'PERCENT NRECEIVES PUBLIC ASSISTANCE', 'COUNT PUBLIC ASSISTANCE UNKNOWN', 'PERCENT PUBLIC ASSISTANCE UNKNOWN', 'COUNT PUBLIC ASSISTANCE TOTAL', 'PERCENT PUBLIC ASSISTANCE TOTAL'],
      dtype='object')

In [5]:
newdf = df[['COUNT PARTICIPANTS', 'COUNT FEMALE', 'PERCENT FEMALE', 'COUNT MALE', 'PERCENT MALE']].copy()
newdf.head()

   COUNT PARTICIPANTS  COUNT FEMALE  PERCENT FEMALE  COUNT MALE  PERCENT MALE
0                  44            22            0.50          22          0.50
1                  35            19            0.54          16          0.46
2                   1             1            1.00           0          0.00
3                   0             0            0.00           0          0.00
4                   2             2            1.00           0          0.00

### Calculate the ratio of Median values for 2 columns.

In [42]:
newdf.describe()

       COUNT PARTICIPANTS  COUNT FEMALE  PERCENT FEMALE  COUNT MALE  PERCENT MALE
count          236.000000    236.000000      236.000000  236.000000    236.000000
mean            17.661017     10.296610        0.243983    7.364407      0.201017
std             43.279737     28.189121        0.333677   18.880888      0.295731
min              0.000000      0.000000        0.000000    0.000000      0.000000
25%              0.000000      0.000000        0.000000    0.000000      0.000000
50%              0.000000      0.000000        0.000000    0.000000      0.000000
75%             13.000000      6.000000        0.515000    4.000000      0.400000
max            272.000000    194.000000        1.000000  157.000000      1.000000

In [62]:
for colname in newdf.columns[:2]:
    print("Column ({name}) has:\n\t\tmedian: {median:.2f}\n\t\tmean{mean:.2f}"\
          .format(name=colname,median=newdf[colname].median(),mean=newdf[colname].mean()))

Column (COUNT PARTICIPANTS) has:
		median: 0.00
		mean17.66
Column (COUNT FEMALE) has:
		median: 0.00
		mean10.30

The .value_counts() method gives us a count of values in a column. Note that this is a method for a single column (called a Pandas Series), not for a dataframe.

### Create a new column that is the value of your first column, divided by the max value from your second column. Create a 3rd dataframe that is the subset

In [51]:
newdf.columns

Index(['COUNT PARTICIPANTS', 'COUNT FEMALE', 'PERCENT FEMALE', 'COUNT MALE', 'PERCENT MALE'], dtype='object')

In [53]:
newdf['NEWCOLUMN'] = newdf['COUNT PARTICIPANTS'] / newdf['COUNT FEMALE'].max()
newdf.head()

   COUNT PARTICIPANTS  COUNT FEMALE  PERCENT FEMALE  COUNT MALE  PERCENT MALE  NEWCOLUMN
0                  44            22            0.50          22          0.50   0.226804
1                  35            19            0.54          16          0.46   0.180412
2                   1             1            1.00           0          0.00   0.005155
3                   0             0            0.00           0          0.00   0.000000
4                   2             2            1.00           0          0.00   0.010309

### Create a new column that is the value of your first column, divided by the max value from your second column. Create a 3rd dataframe that is the subset of your full dataframe, where the value of your 3rd column > median(3rd column)

In [58]:
newdf_subset = newdf[newdf['NEWCOLUMN']>newdf['NEWCOLUMN'].median()]

### Save your new dataframe to a csv (WITHOUT INDEX NUMBERS).

Let's save our new Pandas DataFrame to a CSV. We'll set the 'index' option to False to not save the pandas dataframe index numbers in our csv.

In [59]:
newdf_subset.to_csv('PandasExercise.csv',index=False)